@tailwind base;
@tailwind components;
@tailwind utilities;



.hero-section{
    overflow: scroll;
}
::-webkit-scrollbar{
    display: none;
}
.hamburger{
    display: none;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    /* background-color: #fff; */
}
@media screen and (max-width:1050px) {
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        text-align: center;
        width: 100%;
        transition: 0.3s ease-in-out;
        /* background-color: #000; */
    }
    .nav-item{
        margin: 26px 0;
    }
    .nav-menu.active{
        left: 0;
    }
}