@tailwind base;
@tailwind components;
@tailwind utilities;


/* Firefox */
body {
  scrollbar-width: thin;
  scrollbar-color: #EF4444 #EDF8FA;
}

/* Chrome, Edge and Safari */
body::-webkit-scrollbar {
  width: 13px;
  width: 13px;
}
body::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #EDF8FA;
}

body::-webkit-scrollbar-track:hover {
  background-color: #F2FCFF;
}

body::-webkit-scrollbar-track:active {
  background-color: #E1EBED;
}

body::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #EF4444;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #FC4747;
}

body::-webkit-scrollbar-thumb:active {
  background-color: #FC4747;
}

.overflow-hide {
    overflow: hidden;
}


.hero-section{
    overflow: scroll;
}.hamburger{
    display: none;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    /* background-color: #fff; */
}
@media screen and (max-width:1050px) {
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        text-align: center;
        width: 100%;
        transition: 0.3s ease-in-out;
        /* background-color: #000; */
    }
    .nav-item{
        margin: 26px 0;
    }
    .nav-menu.active{
        left: 0;
    }
}