@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 20px;
    font-weight: bold;

}